.dashboard {
  /* display: flex;
    justify-content: space-between; */
  width: 100%;
  background-color: rgb(231, 228, 228);
}

.settings {
  width: 100%;
  padding: 1rem;
  margin-top: 3rem;
}

.input {
  width: 100%;
  padding: 0.5rem 1rem;
}

.textInputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.loginImage {
  width: 50%;
}

.register {
  text-align: center;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.start {
  padding:.5rem  1rem;
  border-radius: 0.5rem;
  background-color: #281567;
  color: white;
}

.button {
  width: 50%;
  margin: 1rem auto 1rem auto;
  padding: 0.8rem;
  border-radius: 1rem;
  border: 0.1rem solid;
}

.success {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: 10rem auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.successDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 3rem 0 0 0;
}

.successDivs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }

  .loginImage {
    width: 100%;
  }

  .settings {
    width: 100%;
    margin-top: 3.5rem;
  }
}
