.dash {
  /* border: 0.1rem solid black; */
}

.dashSide {
  display: flex;
  /* border: .1rem solid black; */
}

.side {
  width: 20%;
}

.home {
  display: flex;
  flex-direction: column;
  width: 80%;
  /* border: 0.1rem solid black; */
}

.content {
  /* border: 0.1rem solid black; */
  /* width: 100%; */
  padding: 1rem;
}
