* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.haeder {
  /* height: 10vh; */
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 1rem;
  z-index: 50;
  justify-content: space-between;
}

.dashName {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: center;
}

.dashboard {
  font-size: 1.3rem;
  font-weight: 600;
}

.dashLogos {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.person {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

@media (max-width: 1024px) {
  .dashName p {
    font-size: 1rem;
  }

  .dashLogos {
    width: 8%;
  }
}

@media (max-width: 768px) {
  .haeder {
    left: 90px;
    padding: 0.5rem;
  }

  .dashLogos {
    width: 10%;
  }
}

@media (max-width: 480px) {
  .dashLogos {
    width: 15%;
  }
}
