/* .dash {
}

.dashSide {
  display: flex;
}

.side {
  width: 20%;
}

.home {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.content {
  padding: 1rem;
}

.new {
  background-color: rgb(40, 21, 103);
  color: white;
  border-radius: 1rem;
  width: 30%;
  padding: 0.5rem;
  text-align: center;
}

.com {
  border-radius: 1rem;
  border: 0.1rem solid black;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.tot {
  display: flex;
  justify-content: space-between;
  gap: 9rem;
}

.card {
  display: flex;
  justify-content: space-between;
}

.stu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stud {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.act {
  border: 0.1rem solid black;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}

.stuact {
  display: flex;
  margin: 0.5rem 0;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

@media (max-width: 1024px) {
  .card {
    flex-direction: column;
  }
} */

.dash {
  /* border: 0.1rem solid black; */
}

.dashSide {
  display: flex;
  /* border: .1rem solid black; */
}

.side {
  width: 20%;
}

.home {
  display: flex;
  flex-direction: column;
  width: 80%;
  /* border: 0.1rem solid black; */
}

.content {
  /* border: 0.1rem solid black; */
  padding: 1rem;
}

.com {
  border-radius: 1rem;
  border: 0.1rem solid black;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.tot {
  display: flex;
  justify-content: space-between;
  gap: 9rem;
  /* padding: .5rem; */
}

.card {
  display: flex;
  justify-content: space-between;
}

.side {
  width: 20%;
  transition: width 0.3s ease-in-out;
}

.home {
  display: flex;
  flex-direction: column;
  width: 80%;
  transition: width 0.3s ease-in-out;
}

.content {
  padding: 1rem;
  width: 100%;
}

.stu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.stu p {
  text-align: center;
}

.act {
  border: 0.1rem solid black;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

.stuact {
  display: flex;
  margin: 0.5rem 0;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.stud {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.act {
  border: 0.1rem solid black;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}

@media (max-width: 1024px) {
  .card {
    flex-direction: column;
    gap: .5rem;
  }}

  @media (max-width: 425px) {
   .tot{
    /* padding-right: .5rem; */
    font-size: .8rem;
   }
    .act {
      padding: 0.5rem ;
      font-size: .7rem;
    }
    
  }